<div id="menu-wrapper">
  <div id="menu" class="container">
    <ul>
      <li class="current_page_item"><a routerLink="/homepage">Homepage</a></li>
      <li><a routerLink="/employees">Employee List</a></li>
      <!-- <li><a routerLink="/blog">Blog</a></li> -->
      <li><a routerLink="/portfolio">Portfolio</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/signup">Sign Up</a></li>
      <li><a routerLink="/signin">Sign In</a></li>
      <li><a routerLink="/express">Express Yourself</a></li>
    </ul>
  </div>
  <!-- end #menu --> 
</div>
