<div id="footer-wrapper">
	<div id="footer" class="container">
		<div id="box1">
			<div class="title">
				<h2>Latest Post</h2>
			</div>
			<div>
				<p>Your list is now {{ listCount }}</p>
			</div>

			<form>
				<input type="text" class="txt" name="item" placeholder="You enter here..." [(ngModel)]="inputText">

				<input type="submit" class="btn" [value]="btnText" (click)="AddInput()">
			</form>
			<br>
			<div>
				<p>List of added items:</p>
				<br>
				<p class="list" *ngFor="let item of inputList" >
					{{ item }}
				</p>
			</div>

		</div>
		</div>
	</div>