<div id="page" class="container">
  <div>
    <h2>Add employee</h2>
    <form class="form-horizontal" [formGroup]="myEmpform" (ngSubmit)="onSubmit()" novalidate>
        <fieldset>
          <div class="control-group form-group">
            <!-- ID -->
            <label class="control-label"  for="age">ID</label>
            <div class="controls">
              <input type="text" formControlName="id" class="input-xlarge form-control">
              <!-- <p class="help-block">Age can contain any letters or numbers, without spaces</p> -->
            </div>
          </div>
          <div class="control-group form-group">
            <!-- Name -->
            <label class="control-label"  for="name">Name</label>
            <div class="controls">
              <input required="required" type="text" formControlName="name" maxlength="50" format formatType="alphabet" autocomplete="off" class="input-xlarge form-control">
              <p class="help-block">Name can contain any letters or numbers, without spaces</p>
            </div>
          </div>
          <div class="control-group form-group">
            <!-- Location -->
            <label class="control-label" for="location">Location</label>
            <div class="controls">
              <input required="required" type="text" formControlName="location" class="input-xlarge form-control">
            </div>
          </div>
          <div class="control-group form-group">
            <!-- Button -->
            <div class="controls">
              <input type="submit" class="btn btn-success" value="Add Employee">
            </div>
          </div>
        </fieldset>
      </form>
      
  </div>
</div>
