<form class="form-horizontal" [formGroup]="signinform" (ngSubmit)="onSubmit()" novalidate>
  <fieldset>
    <div id="legend">
      <legend class="">Login Yourself</legend>
    </div>
    <div class="control-group form-group">
      <!-- Username -->
      <label class="control-label"  for="username">Username</label>
      <div class="controls">
        <input required="required" type="text" formControlName="username" maxlength="50" format formatType="alphabet" autocomplete="off" class="input-xlarge form-control">
        <p class="help-block">Username can contain any letters or numbers, without spaces</p>
      </div>
    </div>
    <div class="control-group form-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input required="required" type="password" formControlName="password" class="input-xlarge form-control">
        <!-- <p class="help-block">Password should be at least 4 characters</p> -->
        <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
          <p *ngIf="password.errors.required">Password is required</p>
          <p *ngIf="password.errors.minlength">Password must be 8 characters long</p>
        </div>          
      </div>
    </div>
 
    <div class="control-group form-group">
      <!-- Button -->
      <div class="controls">
        <input type="submit" class="btn btn-success" value="Sign In">
      </div>
    </div>
  </fieldset>
</form>