<div id="legend">
  <legend class="">Express Yourself</legend>
</div>
<div class="form-group">
  <p> Parent says via Input : {{ messageToChild }} </p>
  <br><br>
  <p>Child default Message : {{ messageFromChild }}</p>
  <button (click)="sendToParent()">Send Message To Parent</button>
  <!-- Username -->
  <!-- <label class="control-label"  for="anything">Type anything</label>
  <div class="controls">
    <input required="required" type="text" maxlength="50" formatType="alphabet" autocomplete="off" class="input-xlarge form-control">
  </div>
  <a type="button" (click)="submit()">Click Me</a> -->
</div>
